html,body{
	height: 100%;
	width: 100%;
}
header,footer{
	padding: 10px;
	color: white;
	width: 100%;
}
.mainNavigation{
	float: right;
	border-right:10px; 
}
.mainNavigation > ul > a{
	padding-right: 8px;
}
section{
	padding: 15% 0;
}
section > h1 {
	align-content: center;
}